body
{
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgb(219, 135, 135) 60%,rgb(199, 199, 134) 40%);

}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

